/*display types*/
p,ul {
    border: 5px solid rebeccapurple;
    padding: .5em;
    
}
ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
}
.block,li {
    border: 2px solid blue;
    padding: .5em;
}
.block {
    display: block;
}
span,li {
    border:2px solid blue;
    
    
}
.inline {
    display: inline;
}
/*box model*/
.box {
    border: 5px solid rebeccapurple;
    background-color:skyblue;
    margin: 40px;
    padding: 40px;
    width: 300px;
    height: 150px;
}
.box {
    /*margin-top: -40px;*/
    margin-right: 30px;
    margin-bottom: 40px;
    margin-left: 4em;
}
.alternate {
    box-sizing: border-box;

}
/*margin*/
.container {
    margin : 80px;
}
.one {
    margin-bottom: 50px;
}
.two {
    margin-top: 30px;
}
.container {
    border-top: 5px dotted green;
    border-right: 1px solid black;
    border-bottom: 20px double rgb(red, green, blue);
    padding: 40px;


}
.box {
    border: 1px solid #333333;
    border-right-width: 10px;
    border-top-style: dotted;
    border-bottom-color: hotpink;
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 4em;
}


